* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  color: #1e1e1e;
  font-family: "Georama", sans-serif;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
ul,
ol,
li,
a {
  text-decoration: none;
  list-style: none;
}
strong {
  font-weight: bold;
}
h2 {
  text-transform: uppercase;
  font-size: 8rem;
  word-break: break-all;
  max-width: 4ch;
  line-height: 1;
}
@media (max-width: 750px) {
  h2 {
    text-transform: capitalize;
    font-size: 3rem;
    word-break: keep-all;
    max-width: initial;
  }
}
